/1st.html
/2nd.html
/first.html
/first.js
/From_Crate
/image-1.jpg
/image.jpg
/index.html
/photo-1.jpg
/photo-2.jpg
/photo-3.jpg
/photo-4.jpg
/photo-5.jpg
/photo-6.jpg
/photo-7.jpg
/photo-8.jpg
/photo-9.jpg
/style.css
/stylee.css