body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.col-md-6{
    margin-top: 150px;
    background-image: linear-gradient(to top,#c4dd45 0%,#cf556c 100%);
    border: 5px solid #429445;
}
input[type=button]
{
    width: 100px;
    background-color: #3699a6;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
input[type=text]
{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 20px !important;
}